.pri-btn {
    padding: 1rem 2rem;
    background-color: var(--pri-color);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.pri-btn::before, .pri-btn::after {
    position: absolute;
    z-index: 999;
}

.pri-btn::before {
    content: "";    
    background-color: var(--heading-dark-color);
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    border-radius: 1rem;
    transition: all 300ms linear 0ms ;
}

.pri-btn::after {
    content: "Join Our Waitlist";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

.pri-btn {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
}

.pri-btn:hover::before {
    height: 100%;
}

.sec-btn {
    position: relative;
    color: var(--pri-color);
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 600;
    width: -moz-fit-content;
    width: fit-content;
    transition: all 500ms ease-in-out 0ms;

    background: linear-gradient(90deg, var(--heading-dark-color), var(--heading-dark-color));
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 0%;

    z-index: 0;
}


.sec-btn:hover {
    color: transparent;
    background-size: 100%;
}

.sec-btn svg {
    transform: rotate(-360deg);
    transition: all 300ms ease-in-out 0ms;
}

.sec-btn svg > path {
    transition: all 350ms ease-in-out 0ms;
}

.sec-btn:hover svg {
    color: var(--heading-dark-color);
    transform: rotate(360deg);
}

.sec-btn:hover svg > path {
    fill: var(--heading-dark-color);
}

.sec-btn::after,
.sec-btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
}
.sec-btn::after,
.sec-btn:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

.sec-btn:hover::after,
.sec-btn::before {
    width: 0px;
    right: 0;
    left: auto;
}

.sec-btn::after {
    background-color: var(--pri-color);
    transition: all 200ms ease-in-out 300ms;
}

.sec-btn::before {
    background-color: var(--heading-dark-color);
    transition: all 250ms ease-in-out 250ms;
}