header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%; 
    min-height: 100px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.35);
    z-index: 9999;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

header .logo {
    cursor: pointer;
}

header nav ul {
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

nav a {
    display: block;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
}

nav a, nav a::after {
    transition: all 500ms ease-in-out 0ms;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    height: 2px;
    width: 0%;
    background-color: var(--pri-color);
}

nav a:hover {
    color: var(--pri-color);
}

nav a:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.mobile__nav, 
.mobile__menu {
    display: none;
}

.mobile__menu {
    display: grid;
    grid-template-rows: 70% 30%;
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    height: calc(100vh - 50px);
    padding: 20% 50px;
    transform: translateX(110vw);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.35);
    transition: all 500ms ease-in-out 0ms;
    overflow: hidden;
    z-index: 9998;
}

.mobile__menu.clicked {
    display: grid;
    transform: translateX(05vw);
}

.mobile__menu a {
    display: block !important;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.DC__hero__section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--t-b-pad);

}

.DC__hero__section p {
    font-size: 1.5rem;
}

.DC__hero__section .crm__word {
    color: var(--pri-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.DC__hero__section img {
    max-width: 525px;
    max-height: 530px;
}

section.one > div, 
section.two, 
section.three, 
section.four,
section.five, 
section.six,
section.seven,
section.eight,
section.nine {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    gap: 20px;
    padding-block: var(--t-b-pad);
}

section.ten > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    gap: 20px;
}

section.one h3 {
    text-align: center;
    max-width: 720px;
}

.svg__play__icon {
    margin-top: var(--t-b-pad);
}

.svg__play__icon svg {
    transform: rotate(0deg);
    transition: all 300ms ease-in-out 0ms;
}

.svg__play__icon:hover svg {
    color: var(--dark-color);
    transform: rotate(-360deg);
}

section.ten {
    background-color: #FFF1E9;
}

section.ten img {
    z-index: 1;
}

.perk__stick {
    display: flex;
    justify-content: center;
    height: 65vh;
    width: 100%;
    padding: 0px 20px;
    /* border: solid 1px red; */
    overflow: scroll;
    scroll-padding-top: 100px;
}

.perk__stick::-webkit-scrollbar {
    width: 0px;
}

.perk__stick > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.perk {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 470px;
    min-height: 470px;
    width: 400px;
    border-radius: 20px 0px;
    overflow: hidden;
    align-items: end;
    cursor: pointer;
}

.perk__one {
    background: url("./images/Efficient\ communication\ -\ DureCRM.webp") no-repeat right top;
}

.perk__two {
    background: url("./images/Improved\ Engagement\ -\ Duce\ CRM.webp") no-repeat right top;
}

.perk__three {
    background: url("./images/Greater\ Efficiency\ -\ DuceCRM.webp") no-repeat right top;
}

.perk__four {
    background: url("./images/OPtimized\ Sales\ Strategy\ -\ DuceCRM.webp") no-repeat right top;
}

.perk__text {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 50px;
    border-radius: 20px 0px;
    border: 1.5px solid rgba(255, 255, 255, 0.60);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 500ms ease-in-out 0ms;
}

.perk:hover .perk__text {
    min-height: 100%;
}

.perk__text p {
    font-size: 1.4rem;
}

.mobile__perk {
    display: none;
}

.svg__play__icon {
    width: 55px;
    height: 55px;
    margin-left: 1rem;
    display: grid;
    place-content: center;
    border-radius: 100px;
    animation: pulse 1200ms linear 500ms infinite;
}

section.ten > div > div:first-child h3 {
    margin: 0px 0px 20px 0px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #FF640079;
    }
    70% {
        box-shadow: 0 0 0 30px #FF640000;
    }
    100% {
        box-shadow: 0 0 0 0 #FF640000;
    }
}

.form__btn {
    margin-top: 1.5rem;
}

.faq > div:last-child {
    max-width: 100%;
    padding: 10px 10px 50px 10px;
    overflow: hidden;
}

summary {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--heading-dark-color);
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease-in-out 0ms;
    /* mask: linear-gradient(90deg, white, white) 2rem 0 / calc(100% - 1rem) 100% no-repeat; */
}

details[open] summary {
    border-bottom: 1px solid var(--pri-color);
}

summary::marker {
    content: "";
    display: none;
}

summary::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    translate: 0 -35%;
    transition: rotate 250ms ease-in-out;
    transform-origin: 50% 40%;
}

details {
    width: 80vw;
    padding-bottom: 2rem;
}

details[open] summary::after {
    rotate: -180deg;
}

details p {
    display: inline-block;
    max-width: 1100px;
    width: 100%;
    padding: 0 0 0 1rem;
    height: 0;
    overflow: hidden;
    font-weight: 300;
}

details[open] p {
    padding: 1rem 0 1rem 2rem;
    height: fit-content;
    box-sizing: content-box;
    text-align: left;
  }

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.footer__wrapper .logo {
    max-width: 153px;
    width: 100%;
}

.footer__wrapper > div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

footer .social__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .social__wrapper > div path {
    transition: all 250ms ease-in-out 0ms;
}

footer .social__wrapper > div:hover path {
    fill: var(--pri-color);
}

.footer__credit {
    text-align: center;
}

.footer__credit a {
    color: var(--pri-color);
}

@media (max-width:787px) {

    header {
        min-height: 90px;
    }

    .mobile__nav {
        display: grid;
        cursor: pointer;
        justify-items: right;
        z-index: 9;
    }

    .mobile__nav div {
        height: 3px;
        border-radius: 10px;
        display: block;
        background-color: #000;
        transition: all 250ms ease-in-out 0ms;
    }

    .bar__two {
        margin-block: 5px;
        opacity: 1;
    }

    .clicked .bar__one {
        rotate: 135deg;
        transform: translate(5px, -6px);
        width: 25px;
    }

    .clicked .bar__two {
        transform: translateX(30px);
        opacity: 0;
    }

    .clicked .bar__three {
        rotate: -136deg;
        transform: translate(6px, 6px);
        width: 25px;
    }

    .mobile__nav .bar__one {
        width: 20px;
    }

    .mobile__nav .bar__two {
        width: 15px;
    }

    .mobile__nav .bar__three {
        width: 25px;
    }

    .mobile__nav.clicked .bar__one {
        width: 25px;
    }

    h3, h3 .crm__word {
        text-align: center;
        font-size: 1.375rem;
    }

    h4 {
        text-align: center;
        font-size: 1.25rem;
    }

    span, p, p .crm__word {
        text-align: center;
        font-size: 1rem;
    }

    .desk__nav {
        display: none !important;
    }

    section.one h3 {
        max-width: 280px;
    }

    .DC__hero__section {
        grid-template-columns: auto;
        /* justify-items: center; */
        gap: 40px;
    }

    .DC__hero__section p, 
    .DC__hero__section h1 {
        text-align: start;
    }

    .DC__hero__section p, 
    .DC__hero__section .crm__word {
        font-size: 1rem;
    }

    section.one > div, 
    section.two, 
    section.three, 
    section.four, 
    section.five, 
    section.six, 
    section.seven, 
    section.eight, 
    section.nine, 
    section.ten > div  {
        grid-template-columns: auto;
        text-align: center ;
    }

    section.two .img__wrapper,
    section.four img, 
    section.six img {
        grid-row-start: 2;
    }

    section.ten  {
        grid-template-columns: auto ;
    }

    .perk__stick {
        height: fit-content;
        justify-content: start;
        padding-bottom: 10px;
    }

    .mobile__perk {
        display: flex;
        gap: 20px;
    }

    .m-perk {
        width: 190px;
        border-radius: 20px;
        box-shadow: 0px 6px 15px 1.5px rgba(255, 100, 0, 0.06);
    }
    
    .perk__stick > div:first-child {
        display: none;
    }
    
    .perk__img__wrapper img {
        border-radius: 20px;
        object-position: center;
        object-fit: cover;
        aspect-ratio: 190/150;
    }

    .m-perk__text > div:last-child {
        padding-inline: 10px;
        padding-bottom: 10px;
    }

    .svg__play__icon {
        margin-left: 0px;
    }

    .nine > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.ten > div > div:first-child, 
    section.ten > div > div:first-child p, 
    section.ten > div > div:first-child h3 {
        text-align: left;
        /* padding-top: var(--t-b-pad);
        padding-bottom: calc(2 * var(--t-b-pad)); */
    }

    .faq > div:last-child, details {
        max-width: 85vw;
    }

    .footer__wrapper > div:first-child {
        display: grid;
        place-content: center;
    }

    footer .social__wrapper {
        justify-content: center;
    }
}